@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');


*{
    margin: 0px;
    padding: 0px
}

body{
    background-image: linear-gradient(to right, #71F5A6, #4eb979, #318352);
    color: white;
}

header{
    background-image: linear-gradient(to bottom, #45b873, #2d9456, #28854d);
    text-align: center;
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.445);
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.titulo{
   margin-top: 150px;
}
.titulo h1{
    width: 9.7ch;
    font-size: 3em;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.39);
    margin: auto;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: blinkmaker 0.8s infinite, typing 10s infinite;
    border-right: 2px solid rgb(147, 212, 147);
 }

 @keyframes blinkmaker{
    50%{
        border-right-color: transparent;
    }
 }

 @keyframes typing{
    0%{
        width: 0;
    }
    40%{
        width: 9.7ch;
    }
    60%{
        width: 9.7ch;
    }
    80%{
        width: 0;
    }
    100%{
        width: 0;
    }
 }

.titulo h2{
    padding: 10px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.267);
 }

.logo{
    text-align: left;
    padding-top: -10;
    padding-left: -10;
    text-shadow: 3px 3px 0px black;
 }

.logo a{
    text-decoration: none;
    color: white;
 }

.logo a:hover{
    color: rgb(9, 206, 9);
    transition-duration: 0.5s;
 }

.titulo p{
    width: 300px;
    margin: auto;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.24);
 }

 main{
    background-color: rgb(200, 228, 207);
    color: black;
    max-width: 425px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.288);
    border-radius: 0px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #local{
    background-image:  url('imagens/imagem-escolajpeg.jpeg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 150px 150px 10px;
    border-radius: 10px 0px 10px 0px;
    color: rgb(123, 139, 76);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.329);
    margin-top: 20px;
 }

 #local > h2{
    font-size: 2em;
    padding: 0px 0px 5px 0px;
 }

 #local > p{
    padding: 0px 0px 5px 0px;
    font-size: 1.2em;
    max-width: 300px;
 }


.link{
    padding: 5px;
    background-color: #ccb291;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin-top: 5px;
}
.link a{
    color:  rgb(123, 139, 76);;
    text-decoration: none;
}

.link:hover{
    background-color: #8C4E2A;
    transition-duration: 0.5s;
    color: rgb(169, 189, 109);
}

#data{
    margin-top: 50px;
    background-image: url('imagens/calendario.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 150px 150px 10px;
    border-radius: 0px 10px 0px 10px;
    color: rgb(155, 95, 95);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.329);
}

#data > h2{
    font-size: 2em;
    padding: 0px 0px 5px 0px;
}

#data > p{
    padding: 0px 0px 5px 0px;
    font-size: 1.2em;
    max-width: 300px;
}

#data:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}

#data:hover::after{
    opacity: 1;
}

#contribuicao{
    margin-top: 50px;
    background-color: green;
    padding: 30px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.329);
}

#contribuicao > h2{
    font-size: 2em;
    padding: 0px 0px 5px 0px;
}

#contribuicao > p{
    padding: 0px 0px 5px 0px;
    font-size: 1.2em;
    max-width: 300px;
}

#contribuicao:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}

#contribuicao:hover::after{
    opacity: 1;
}

#cancelamento {
    background-color: #E02688;
    padding: 30px;
    margin-top: 50px;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.329);
}

#cancelamento > h2{
    font-size: 2em;
    padding: 0px 0px 5px 0px;
}

#cancelamento > p{
    font-size: 1.2em;
    max-width: 300px;
}

#cancelamento:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}

#cancelamento:hover::after{
    opacity: 1;
}

#acontecimentos{
    background-color: green;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.329);
}

#acontecimentos > h2{
    font-size: 2em;
    padding: 0px 0px 5px 0px;
}

#acontecimentos > p{
    font-size: 1.2em;
    max-width: 300px;
}

#acontecimentos:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}

#acontecimentos:hover::after{
    opacity: 1;
}

#inscricao{
    background-color: #E02688;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.329);
    margin: 50px 45px 0px 45px;
}

#inscricao > a{
    color: rgb(123, 139, 76);
    text-decoration: none;
}

#inscricao:hover{
    background-color: green;
    transition-duration: 0.5s;
}

#inscricao a:hover{
    color: #E02688;
    transition-duration: 0.5s;
}

#inscricao:hover{
    transform: scale(1.05, 1.05);
}

#inscricao:hover::after{
    opacity: 1;
}

#encerramento{
    background-color: red;
    margin-top: 50px;
    padding: 10px;
    max-width: 180px;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 3px 3px 0px black;
}

#encerramento h1{
    font-size: 1.25em;
    padding-bottom: 10px;
}

#encerramento h2{
    font-size: 0.9em;
    padding-bottom: 10px;
}

#encerramento p{
    font-size: 0.8em;
    padding-bottom: 10px;
}

#encerramento:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}

#encerramento:hover::after{
    opacity: 1;
}
footer{
    background-color: white;
    color: black;
    padding: 50px 0px 50px 10px;
    border-radius: 10px 10px 0px 0px;
}

footer > h2{
    font-size: 2em;
}

footer > p{
    font-size: 1.2em;
    padding-top: 5px;
}